<mat-sidenav-container class="example-container">
  <!-- <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/"> Fetch Data </a>
      <a mat-list-item routerLink="/file-upload"> Compare File Source</a>
      <a mat-list-item routerLink="/db-source"> Compare DB Source </a>
      <a mat-list-item routerLink="/schedule-report"> Schedule Report </a>
    </mat-nav-list>
  </mat-sidenav> -->
  <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>