<div class="container">
  <div class="col-sm-6">
    <mat-radio-group aria-label="Database Credentials">
      <mat-radio-button value="Windows" [(ngModel)]="credentialType"(change)="handleChange($event)">Windows</mat-radio-button>
      <mat-radio-button value="Sql"[(ngModel)]="credentialType"(change)="handleChange($event)">Sql</mat-radio-button>
    </mat-radio-group>
    <div *ngIf="sqlflag">
      <form class="example-form">
        <mat-form-field appearance="outline">
          <input matInput placeholder="Database Server Username" value="Enter Password" [(ngModel)]="dbServerUserName">
        </mat-form-field> 
        <mat-form-field appearance="outline">
            <input matInput placeholder="Database Server Password" value="Enter Username" [(ngModel)]="dbServerPassword">
        </mat-form-field>
      </form>
    </div>
  </div>
  <button mat-button (click)="onSubmit()">Test Connection</button>
</div> 

<!-- <div class="modal-dailog">
  <div class="modal-header">
    <h4 class="modal-title">Database Credentials</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input type="radio" name="credntialTypeRadio" value="Windows" [(ngModel)]="credentialType"
      (change)="handleChange($event)"> Windows
    <input type="radio" name="credntialTypeRadio" value="Sql" [(ngModel)]="credentialType"
      (change)="handleChange($event)"> Sql

    <div *ngIf="sqlflag">
      <div class='row'>
        <div class="col-sm-6">
          <label>Database Server User Name
            <input type="text" placeholder="Enter User Name" class="form-control" [(ngModel)]="dbServerUserName">
          </label>
      </div>
      <div class="col-sm-6">
          <label>Database Server Password
            <input type="password" placeholder="Enter Password" class="form-control" [(ngModel)]="dbServerPassword">
          </label>
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" type="submit" (click)="onSubmit()">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss('Cross click')">Close</button>
  </div>
</div> -->