.first {
    display: flex;
    flex-direction: column;
  }
  
  .div-group {
    width: 100%;
  }
  div button{
    float : right;
    margin-bottom: 5px;
  }
.div-group{
  display:flex;
  flex-direction: column;
}
.col-md-6{
  display:flex;
  flex-direction: column; 
}